.App {
  font-family: sans-serif;
  text-align: center;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

html,
body {
  height: 100%;
  margin: 0px;
}

.pin {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #2bbd23;
}
.pin2 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #edab06;
}
.pin3 {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ed066a;
}
